In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({
    'hours':[8, 11, 9, 5, 7.5, 9.5, 10, 7, 9, 9.5, 8, 10.5, 9, 6.5, 9],
    'score':[56, 70, 51, 24, 30, 66, 48, 36, 42, 61, 39, 87, 73, 48, 46]
})

In [6]:
df.head()

   hours  score
0    8.0     56
1   11.0     70
2    9.0     51
3    5.0     24
4    7.5     30

In [7]:
y = np.array(df.score.values)
y

array([56, 70, 51, 24, 30, 66, 48, 36, 42, 61, 39, 87, 73, 48, 46],
      dtype=int64)

In [8]:
y_pred = 8 * df.hours.values - 15
y_pred

array([49., 73., 57., 25., 45., 61., 65., 41., 57., 61., 49., 69., 57.,
       37., 57.])

**Mean Absolute Error (MAE)**

In [13]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y, y_pred)
print(f"Mean Absolute Error: {mae}")

Mean Absolute Error: 9.333333333333334

**Root Mean Squared Error (RMSE)**

In [16]:
from sklearn.metrics import root_mean_squared_error
rmse = root_mean_squared_error(y, y_pred)
print(f"Root Mean Squared Error: {rmse}")

Root Mean Squared Error: 10.972693379476162

**R Squared**

In [17]:
from sklearn.metrics import r2_score
r2 = r2_score(y, y_pred)
print(f"R2 Score: {r2}")

R2 Score: 0.5642312518096708